<?xml version="1.0" encoding="UTF-8"?>
<!-- Intentionally placed outside the visible classpath of spring boot project to enable logging in IntelliJ console -->
<configuration debug = "true">

    <property name="HOME_LOG" value="/var/compute/logs/slackButtonSpring.log"/>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${HOME_LOG}</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>/var/compute/logs/archived/slackButtonSpring-%d{yyyy-MM-dd}-%i.log</fileNamePattern>
            <!-- each archived file, size max 100MB -->
            <maxFileSize>10000KB</maxFileSize>
            <!-- total size of all archive files, if total size > 20GB,
				it will delete old archived file -->
            <totalSizeCap>20GB</totalSizeCap>
            <!-- 60 days to keep -->
            <maxHistory>60</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d %p %c{1.} [%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="com.kmmugil" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>

    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
    </root>

</configuration>
